<form class="search-form" id="search-form">
  <div class="search__container">
    <input
      type="text"
      id="search-box"
      name="searchQuery"
      class="search__input"
      autocomplete="off"
      placeholder="Search images..."
    />

    <button class="search__btn" type="submit"></button>
  </div>
</form>

<div class="gallery"></div>
<button type="button" class="load-more btn btn-primary" data-action="load-more">
  <span
    class="spinner-border spinner-border-sm spinner is-hidden"
    role="status"
    aria-hidden="true"
  ></span>
  <span class="label"> Load more</span>
</button>